
* {
    font-family: 'Noto Sans KR', sans-serif;
    margin:0px;
    padding:0px;
    text-decoration: none;
    border-collapse: collapse;
    color: red;
    list-style: none;
}
html {font-size: 62.5%;}
.draggable {
	-webkit-user-select:all;
	-moz-user-select:all;
	-ms-user-select:all;
	user-select:all };

/* -----------------------------------intro---------------------------------------- */
.intro {
	width: 100%;
} 
.intro > img {
	position: static;
	height:auto;
	width:100vw;
}
/* -----------------------------------container---------------------------------------- */
/* banner */
ul {
	padding:0px;
	margin-bottom:0rem;
}
.banner {
	position:relative;
	display:block;
}
.banner img{
	width:100vw;
	height: auto;
}
.banner span.banner_text {
	position:absolute;
	top:50%;
	left:0%;
	transform:translatey(-50%);
	display:none;
	width:100%;
	font-size:8vw;
	color:#fff;
	font-weight:900;
	text-align:center;
	z-index:2;
}
.banner::before, .banner::after{
	content:"";
	position:absolute;
	top:50%;
	left:50%;
	width:95%;
	height:95%;
	transform:translate(-50%,-50%);
	transition:all .8s;
	z-index:2;
}
.banner::before {
	border-top:0.2rem solid #fff;
	border-bottom:0.2rem solid #fff;
	width:0;
}
.banner::after {
	border-left:0.2rem solid #fff;
	border-right:0.2rem solid #fff;
	height:0;
}
.banner:hover span.banner_text {display:block;}
.banner:hover::before {width:95%;}
.banner:hover::after {height:95%;}

.screen::after {
	content:"";
	position:absolute;
	display:block;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:rgba(0,0,0,.5);
	z-index:1;
	opacity:0;
	transition:all .8s;
}
.main_banner ul > li:hover .screen::after {
	opacity:1;
}
.main_banner ul > li {
	cursor: pointer;
}
/*------------------------------------------------ 포인트 정보입력화면 -----------------------------------------------------*/
.login_form {
	display: none;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-size: cover;
}
.login_form::before {
	content: "";
	position: absolute; z-index: 1;
	top:0; right: 0; bottom: 0; left: 0;
	background-color: #E07E66;
}
.main_point_bg {position: relative; z-index: 2;}
.main_point_bg h1 {
	font-size: 3.2rem; color: #fff;
	text-align: center;
	margin-bottom: 3rem;
}
.int-area { 
	width: 35rem; position: relative;
	margin-top: 2rem;
}
.int-area:first-child {margin-top: 0;}
.int-area input {
	width: 100%;
	padding: 2rem 1rem 1rem;
	background-color: transparent;
	border: none;
	border-bottom: 0.1rem solid #fff;
	font-size: 1.8rem; color: #fff;
	outline: none;
}
.int-area label {
	position: absolute; left: 1rem; top: 1.5rem;
	font-size: 1.8rem; color: #fff;
	transition: all .5s ease;
}
.int-area label.warning {
	color: red !important;
	animation: warning .3s ease;
	animation-iteration-count: 3;
}
@keyframes warning {
	0% {transform: translatex(-0.8rem);}
	25% {transform: translatex(-0.8rem);}
	50% {transform: translatex(-0.8rem);}
	75% {transform: translatex(-0.8rem);}
}
.int-area input:focus + label,
.int-area input:valid + label {
	top:-0.2rem;
	font-size: 1.3rem; color: #166cea;
}
.btn-area {margin-top: 3rem;}
.btn-area button {
	width: 100%; height: 5rem;
	background: #166cea;
	color: #fff;
	font-size: 2rem;
	border: none;
	border-radius: 2.5rem;
	cursor: pointer;
}
.close_btn {
	text-align: center;
	cursor: pointer;
	font-size: 2rem;
	color: #fff;
	margin-left: 15rem;
    margin-right: 15rem;
}
.close_btn:hover {
	margin: 2rem;
	color: #fff;
	transition:all .8s;
}
/* ----------------------------------------------------포인트 정보화면------------------------------------------ */
.npoint {
	display: none;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-image: url("image/bg.jpg") no-repeat center;
	background-size: cover;
}
.npoint::before {
	content: "";
	position: absolute; z-index: 1;
	top:0; right: 0; bottom: 0; left: 0;
	background-color: #E07E66;
}
.window {
	position: relative; 
	z-index: 2;
}
.window h2 {
	font-size: 3.2rem;
	color: #fff;
	text-align: center;
	margin-bottom: 3rem;
}
.pop {
	content: "";
	position:relative; z-index: 2; 
	width: 100%;
	height: 20rem;
	background-color: coral;
	border-radius: 2.5rem;
	
}
.point_area {
	padding-top: 1rem;
	text-align: center;
	font-size: 3rem; 
	color: #fff;
}
.point_window {
	display:flex;
	width:100%;
}
.point_text {
	margin-left: 3rem;
	flex: 8;
	margin-top:2rem;
	font-size: 1.2rem; 
	color: #fff;
}
.point_accu {
	text-align: right;
	flex: 2;
	margin-right: 3rem;
	margin-top:2rem;
	font-size: 1.2rem; 
	color: #fff;
}
.point_used {
	text-align: right;
	flex: 2;
	margin-right: 3rem;
	margin-top:2rem;
	font-size: 1.2rem; 
	color: #fff;
}
.point_left {
	text-align: right;
	margin-right: 3rem;
	flex: 2;
	margin-top:2rem;
	font-size: 1.2rem; 
	color: #fff;
}
/*--------------------------------------------------파사드---------------------------------------------------*/
.slide_wrapper{
	position: relative;
	width: 100vw;
	height: 33.3vw;
	margin: 0 auto;
	overflow: hidden;
}

.facade {
	position: absolute;
	left:0;
	top:0;
}
.facade.animated{
	transition: 0.5s ease-out;
}
.facade li{
	width : 33.3vw;
	float: left;
}
.facade li img{
	z-index:1000;
	width : 100%;
}
.prev{
	top: 9vw;
	margin-left: 25vw;
	position:relative;
	z-index:10;
	cursor:pointer;
}
.next{
	top: 9vw;
	margin-right: 25vw;
	position:relative;
	float:right;
	z-index:10;
	cursor:pointer;
}
.arrow{
	width: 5vw;
	height: auto;
}
.left_screen{
	position:absolute;
	z-index:1;
	width: 33.3vw;
	height: 33.3vw;
	content: "";
	top:0; 
	left:0;
	background-color: rgba(0,0,0,.5);
}
.right_screen{
	position:absolute;
	z-index:1;
	width: 33.3vw;
	height: 33.3vw;
	content: "";
	top:0;
	right:0;
	background-color: rgba(0,0,0,.5);
}
/*---------------------------------------------------제휴업체--------------------------------------------------*/
.Back_affiliate{
	display: none;
	content:"";
	width: 100vw;
	height: 100vh;
	background-color: #E07E66;
}

/*---------------------------------------------------푸터------------------------------------------------------*/
.footer {
	background-color: #E07E66;
	text-align: center;
	width: 100vw;
	padding: 3vh 5vw;
	font-size: 1rem;
}
.footer li {
	padding-top: 0.5vh;
}
.footer span {
	color: #FFF;
	margin: 0 .5rem;
}
.footer div {
	color: #FFF;
}
.footer a {
	display: inline;
	position:relative;
    color: #FFF;
	text-decoration: none;
	padding: 0 2rem 0 2rem;
}
.footer a:before {
	content:"";
	width: 0.1rem;
	height: 1rem;
	background-color: #dbdbdb;
	position:absolute;
	left: 0;
	top: 0.33rem;
}
.footer a:first-child:before { width: 0;}
/* -------------------------------------------------하단 바------------------------------------------------- */
.gap {
	content: "";
	position: relative;
	width: 100%;
	height: 15vw;
	background-color: #E07E66;
}
.under_bar {
	border-top: 0.5vw solid #000;
	position: fixed;
	content: "";
	bottom: 0;
	left: 0;
	width: 100vw;
	background-color: #E07E66;
	z-index: 1000;
}
.under_bar ul li {
	text-align: center;
	float: left;
	width: 20vw;
}
.under_bar ul li img {
	cursor:pointer;
	width: 70%;
	bottom: 0;
}
.under_bar ul li div {
	padding-top: 1vh;
	color: #fff;
	font-size: 1rem;
}